In [1]:
cars = ['bmw','audi','toyota','benz']

In [ ]:
req: organize this in alphabet order

In [ ]:
1.sort() | 2.sorted()

In [ ]:
1.used to make changes permanently

In [ ]:
2.For temp usage

In [3]:
print('Here is the org list:')
print(cars)
print('\nHere is the sorted list')
print(sorted(cars))

Here is the org list:
['bmw', 'audi', 'toyota', 'benz']

Here is the sorted list
['audi', 'benz', 'bmw', 'toyota']

In [4]:
print(cars)

['bmw', 'audi', 'toyota', 'benz']

In [5]:
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'toyota']

In [6]:
print(cars)

['audi', 'benz', 'bmw', 'toyota']

In [ ]:
For loops:
---temp variable creation:
---maintain indentation: 
---maintain spaces:

In [ ]:
students = ['vijay','nisha','priyanka','ashok','sri']

In [ ]:
#req:---keep the good job

In [8]:
students = ['vijay','nisha','priyanka','ashok','sri']
for student in students:
    print(student)

vijay
nisha
priyanka
ashok
sri

In [9]:
for student in students:
    print(f" {student.title()},keep up the good job")

 Vijay,keep up the good job
 Nisha,keep up the good job
 Priyanka,keep up the good job
 Ashok,keep up the good job
 Sri,keep up the good job

In [10]:
for student in students:
    print(f" {student.title()},keep up the good job")
print('\nThank you all for showing interest in learning Python')

 Vijay,keep up the good job
 Nisha,keep up the good job
 Priyanka,keep up the good job
 Ashok,keep up the good job
 Sri,keep up the good job

Thank you all for showing interest in learning Python

In [13]:
#range function: print the num from 1-20 
#range dec last num is always exlusive...1-20 ....20, 19 
for value in range(1,20):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
#req: create a list by using range function
numbers = list(range(1,51))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [16]:
#req:print even numbers from 1-50 --->
#range(startvalue,stopvalue,stepvalue)
even_num = list(range(2,51,2)) # 1----2----+2 
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]